<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Tests" %}</title>
</head>
<body>

    <div>
        <form action="{% url 'app_tests:set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans 'Go' %}">
        </form>
        <h1><a href="/"> {% trans "Tests!" %} </a></h1>
        {% if user.is_authenticated %}
        <p>{% trans "loged as:" %} {{ user.username }}, <a href="{% url 'app_tests:logout' %}">{% trans "logout" %}</a></p>
        {% else %}
        <p>{% trans "Please" %} <a href="{% url 'app_tests:signup' %}">{% trans "register" %}</a>
            /<a href="{% url 'app_tests:login' %}">{% trans "login" %}</a></p>
        {% endif %}


    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>