{% extends "app_tests/base.html" %}

{% block content %}
    <div>
        <form>
        <input name="title" id="title">
        <input type="submit" name="search" value="Search">
        </form>
    </div>
    <h1><a href="{% url 'app_tests:new_object' 'test' %}">new test</a>
        <a href="{% url 'app_tests:new_object' 'question' %}">new question</a></h1>

    {% if tests %}
    <h1>Avalible tests:</h1>
    <div>
    {% for test in tests %}
        <div>
            <h2><a href="{% url 'app_tests:detail_of_test' test.id %}" >{{ test }}</a></h2>
        </div>
    {% endfor %}
    </div>
    {% endif %}

{% endblock %}