{% extends "app_tests/base.html" %}
{% load i18n %}
{% block content %}
    <div>
        <form>
        <input name="title" id="title">
        <input type="submit" name="search" value="{% trans 'Search' %}">
        </form>
    </div>
    <h1><a href="{% url 'app_tests:new_object' 'test' %}">{% trans "new test" %}</a>
        <a href="{% url 'app_tests:new_object' 'question' %}">{% trans "new question" %}</a></h1>

    {% if tests %}
    <h1>{% trans "Avalible tests:" %}</h1>
        {% if not_found_tests %}
            {% trans "no match" %}
        {% endif %}
    <div>
    {% for test in tests %}
        <div>
            <h2><a href="{% url 'app_tests:detail_of_test' test.id %}" >{{ test }}</a></h2>
        </div>
    {% endfor %}
    </div>
    {% endif %}

{% endblock %}