{% extends "app_tests/base.html" %}
{% load i18n %}
{% block content %}
    <form method="post">
        <h1>{% trans "Test:" %} {{ test }}</h1>
        <h2><a href="{% url 'app_tests:detail_of_test' test.id %}" >{% trans "back" %}</a></h2>
        {% csrf_token %}
            <div>
                {{ manage_form.management_form }}
                {% for q, f in formset.items %}
                <h2><p>{{ q }}</p></h2>
                <p>{{ f }}</p>
                {% endfor %}

            </div>
        {% if formset.items %}
        <input type="submit" name="start" value="{% trans 'Done' %}">
        {% else %}
        <h1>{% trans "No questions yet!" %}</h1>
        {% endif %}
    </form>
{% endblock %}