{% extends "app_tests/base.html" %}
{% load i18n %}
{% block content %}
    <div>
        <p><h1>{% trans "Test:" %} {{ test }}</h1> </p>
        {% if test.user %}
        <p><h2>{% trans "By:" %} {{ test.user }}</h2></p>
        {% endif %}
        <h3><a href="{% url 'app_tests:test_notes' test.id %}">{% trans "discuss..." %}</a></h3>
        {% if questions %}
        <h2>{% trans "Questions:" %}</h2>
        {% for q in questions %}
        <p>{{ q }} </p>
        {% endfor %}
        {% endif %}

        <form>
            <input type="submit" name="start_test" value="{% trans 'Start Quiz' %}">
            <input type="submit" name="delete_test" value="{% trans 'delete' %}">
            <input type="submit" name="edit_test" value="{% trans 'edit' %}">
        </form>

        {% if run_tests %}

        <h1>{% trans "Run Tests:" %}</h1>

        {% for rt in run_tests %}
        <h2><p><a href="{% url 'app_tests:run_test_detail' rt.id %}">{{ rt.name }}</a></p></h2>
        {% endfor %}

        {% endif %}

    </div>
{% endblock %}