{% extends "app_tests/base.html" %}

{% block content %}
    <div>
        <p><h1>Test: {{ test }}</h1> </p>
        <p><h2>By: {{ test.user }}</h2></p>
        <h3><a href="{% url 'app_tests:test_notes' test.id %}">discuss...</a></h3>
        {% if questions %}
        <h2>Questions:</h2>
        {% for q in questions %}
        <p>{{ q }} </p>
        {% endfor %}
        {% endif %}

        <form>
            <input type="submit" name="start_test" value="Start Quiz">
            <input type="submit" name="delete_test" value="delete">
            <input type="submit" name="edit_test" value="edit">
        </form>

        {% if run_tests %}

        <h1>Run Tests:</h1>

        {% for rt in run_tests %}
        <h2><p><a href="{% url 'app_tests:run_test_detail' rt.id %}">{{ rt.name }}</a></p></h2>
        {% endfor %}

        {% endif %}

    </div>
{% endblock %}